<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hac.mapper.TestMapper">
    <insert id="saveRegistry">
        insert into registry(email,password,create_time)
        values (#{email},#{password},#{createTime})
    </insert>
    <select id="selectByEmail" resultType="com.example.hac.pojo.Registry">
        select *
        from registry
        where email=#{email}
    </select>
</mapper>