<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--outgoinginformation.html-->
    <title>出库信息管理</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- css文件 -->
    <link rel="stylesheet" type="text/css" href="../css/1.css">

</head>

<body>
<div id="app">
    <h1>药品出库信息管理系统</h1>
    <button @click="getOutgoingInfo">查询出库信息</button>
    <button @click="showAddForm">增加出库信息</button>
    <h2>出库信息</h2>
    <table>
        <tr>
            <th>出库编号</th>
            <th>药品编号</th>
            <th>出库日期</th>
            <th>出库数量</th>
            <th>操作</th>
        </tr>
        <tr v-for="outgoing in paginatedOutgoing">
            <td>{{ outgoing.outgoingId }}</td>
            <td>{{ outgoing.drugId }}</td>
            <td>{{new Date(outgoing.outgoingDate).toLocaleDateString() }}</td>
            <td>{{ outgoing.outgoingQuantity }}</td>
            <td>
                <button @click="deleteOutgoing(outgoing.outgoingId)">删除</button>
                <button @click="showEditForm(outgoing)">修改</button>
            </td>
        </tr>
        <tr v-if="outgoingInfo.code === 0">
            <td colspan="5">{{ outgoingInfo.msg }}</td>
        </tr>
        <tr v-if="outgoingInfo.data.length === 0 && outgoingInfo.code === 1">
            <td colspan="5">暂无出库信息</td>
        </tr>
    </table>
    <!-- 分页按钮 -->
    <div>
        <button v-for="page in pageCount" :key="page" @click="goToPage(page)">
            {{ page }}
        </button>
    </div>

    <!-- 修改出库表单 -->
    <div v-if="showEdit">
        <h2>修改出库信息</h2>
        <form @submit.prevent="updateOutgoing">
            <label>出库编号:</label>
            <input type="text" v-model="editOutgoing.outgoingId" readonly><br>

            <label>药品编号:</label>
            <input type="text" v-model="editOutgoing.drugId"><br>


            <label>出库数量:</label>
            <input type="text" v-model="editOutgoing.outgoingQuantity"><br>
            <br>
            <button type="submit">确认修改</button>
            <button @click="cancelEdit">取消</button>

        </form>
    </div>


    <!-- 新增出库表单 -->
    <div v-if="showAdd">
        <h2>新增出库信息</h2>
        <form @submit.prevent="addOutgoing">
            <label>药品编号:</label>
            <input type="text" v-model="newOutgoing.drugId" required><br>


            <label>出库数量:</label>
            <input type="text" v-model="newOutgoing.outgoingQuantity" required><br>
            <br>
            <button type="submit">确认添加</button>
            <button @click="cancelAdd">取消</button>

        </form>
    </div>

    <!-- 提示信息 -->
    <div v-if="successMessage" class="success-message">
        {{ successMessage }}
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            successMessage: '',
            outgoingInfo: {
                code: null,
                msg: '',
                data: []
            },
            currentPage: 1,
            pageSize: 5,
            showEdit: false,
            editOutgoing: {
                outgoingId: null,
                drugId: '',
                outgoingQuantity: ''
            },
            showAdd: false,
            newOutgoing: {
                drugId: '',
                outgoingQuantity: ''
            }
        },
        computed: {
            paginatedOutgoing() {
                const startIndex = (this.currentPage - 1) * this.pageSize;
                const endIndex = startIndex + this.pageSize;
                return this.outgoingInfo.data.slice(startIndex, endIndex);
            },
            pageCount() {
                return Math.ceil(this.outgoingInfo.data.length / this.pageSize);
            }
        },
        methods: {
            goToPage(page) {
                this.currentPage = page;
            },
            getOutgoingInfo() {
                axios.get('/api/outgoinginformation')
                    .then(response => {
                        this.outgoingInfo.code = response.data.code;
                        if (response.data.code === 1) {
                            this.outgoingInfo.data = JSON.parse(response.data.data);
                        } else {
                            this.outgoingInfo.msg = response.data.msg;
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            deleteOutgoing(outgoingId) {
                if (confirm('确认要删除此出库信息吗？')) {
                    axios.delete(`/api/outgoinginformation/${outgoingId}`)
                        .then(() => {
                            this.getOutgoingInfo();
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }
            },
            showEditForm(outgoing) {
                this.showEdit = true;
                this.editOutgoing = {...outgoing};
            },
            updateOutgoing() {
                axios.put(`/api/outgoinginformation/${this.editOutgoing.outgoingId}`, this.editOutgoing)
                    .then(() => {
                        this.showEdit = false;
                        this.getOutgoingInfo();
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            cancelEdit() {
                this.showEdit = false;
                this.editOutgoing = {
                    outgoingId: null,
                    drugId: '',
                    outgoingDate: '',
                    outgoingQuantity: ''
                };
            },
            showAddForm() {
                this.showAdd = true;
                this.newOutgoing = {
                    drugId: '',
                    outgoingDate: '',
                    outgoingQuantity: ''
                };
            },
            addOutgoing() {
                axios.post('/api/outgoinginformation', this.newOutgoing)
                    .then(() => {
                        this.successMessage = '出库信息已成功添加！';
                        setTimeout(() => {
                            this.successMessage = '';
                        }, 3000);
                        this.getOutgoingInfo();
                        this.showAdd = false;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            cancelAdd() {
                this.showAdd = false;
                this.newOutgoing = {
                    drugId: '',
                    outgoingDate: '',
                    outgoingQuantity: ''
                };
            },
        }
    });
</script>
</body>

</html>
